@font-face {
    font-family: 'Bungee Spice';
    src: url(../fonts/Bungee_Spice/BungeeSpice-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url(../fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Bungee Shade';
    src: url(../fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}
@font-face {
    font-family: 'Bebas Neue'   ;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Pacifico', cursive;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
h1{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}
h2{
    width: 90%;
    text-align:center;
    margin: 25px auto;
}
a{
    text-decoration: none;
    color: #c5ffce;
}
.separ{
    font-family: 'Bungee Spice';
    font-size: 36px;
}
.separ1{
    font-family: 'Bungee Spice', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.igsLink{
    text-decoration: none;
    color: black
}
.myLink{
    text-decoration: none;
    color: black
}
.igsLinkDiv{
    max-width: 200px;
    width: 100%;
    text-align: center;
}
.myLinkDiv{
    max-width: 200px;
    width: 100%;
    text-align: center;
}
.htm{
    font-family: 'Bungee Spice', sans-serif;
    font-weight: 400;
}
.cs{
    font-family: 'Bungee Spice', sans-serif;
    font-weight: 400;
}
.htm:hover{
    text-shadow: 3px 3px 5px orange;
}
.cs:hover{
    text-shadow: 3px 3px 5px blue;
}
body{
background-color: #dcffe1;
}
.mainDiv{
    display: flex;
    flex-wrap: wrap;
}
.lessonsLine{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
@media all and (max-width: 460px){
    .myLinkDiv{
        margin-top: 5px;
        text-decoration-line: overline;
        text-decoration-color: indianred;
    }
}

.lessons{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background-color:yellowgreen;   
    border: 3px solid indianred;
    border-radius: 35%;
    text-align: center;
}
.lessons:hover{
    background-color: indianred;
    text-shadow: 5px 5px 3px black;
}
.lessonx{
    font-size: 22px;
    margin-top: 40px;
    color: #c5ffce;
}
.lessonxx{
    font-size: 21px;
    margin-top: 40px;
    color: #c5ffce;
}

